################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/bin
**/obj
*.suo
/.svn
/src/obj
/src/bin
*.user
.vs/
/src/packages/
